.wrapper {
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
    width: 280px;
    border-radius: 5px;
    padding: 0 10px 10px;
}

.title {
    margin: 15px 0 0 0;
}

.field {
    width: 100%;
    margin:  0 auto;
    border: 1.5px solid gray;
    padding: 5px 0;
    &:focus,
    &:active,
    &:hover {
        border: 3px solid rgb(33, 107, 203);
    }
}

.btn {
    width: 90px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: inherit;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(151, 202, 234);
    &:hover {
        scale: 1.2;
    }
}